
@{
    ViewBag.Title = "EDKerisready";
}


@{
    ViewBag.Title = "EDKerisready_blog";
}

<div class="bradcam_area breadcam_bg overlay2">
    <h3>EDKers is ready</h3>
</div>
<!-- bradcam_area_end -->
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding" style=" background-image: url(../../Content/img/banner/bg_1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="~/Content/img/blog/single_blog_3.png" alt="">
                    </div>
                    <div class="blog_details">
                        <h2>
                            EDKers is ready to enjoy an extremely Chill summer with the IT Summer 2020 camp
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                        </ul>
                        <p class="excert">
                            Technology Summer Camp is a playground for Edumark New Students.A place to help you learn, make friends and develop the skills you need before entering the new school year!
                        </p>
                        <p>
                            It is a journey that has just opened up with a love of IT, ready to step into the technology race. Fully charge your battery for the next journey, be connected, accompanied, awakened potential!.
                        </p>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                You had a day together, experienced new things, you shared, encouraged and helped and had moments together like a real family! It could be a cup of tea, a small candy, or share some funny stories!
                            </div>
                        </div>
                        <p>
                            That is the care and protection of the instructors, the teachers who accompany the students in the Technology Summer Camp this season.
                        </p>
                        <p>
                            Remind of time, dressing style, and sleep and meals on the journey with IT Summer Camp. This time is really precious to you New students, an unforgettable mark of youth for you!
                        </p>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info">
                            <span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                            people like this
                        </p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="~/Content/img/post/preview.png" alt="">
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white ti-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="detials">
                                    <p>Prev Post</p>
                                    <a href="#">
                                        <h4>Space The Final Frontier</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>Next Post</p>
                                    <a href="#">
                                        <h4>Telescopes 101</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white ti-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="~/Content/img/post/next.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="~/Content/img/comment/blog8.png" alt="">
                        <div class="media-body">
                            <a href="#">
                                <h4>James Young</h4>
                            </a>
                            <p>Solidarity is really important, teamwork, teamwork is indispensable for us to make a breakthrough in the whole journey.</p>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>05 Comments</h4>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="~/Content/img/comment/blog9.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        Although a bit tired, but it's really meaningful and I can show my best
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Husayn Kassai</a>
                                            </h5>
                                            <p class="date">September 15, 2020 at 3:12 pm </p>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="~/Content/img/comment/blog10.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        Hopefully the school can organize more activities, so that you will have a chance to be together, understand each other and make a breakthrough!.
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Fernando Teixeira</a>
                                            </h5>
                                            <p class="date">September 15, 2020 at 3:12 pm</p>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="~/Content/img/comment/blog11.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        Become a New Student and experience the ultimate IT Summer Camp!.
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Jeff J Mitchell</a>
                                            </h5>
                                            <p class="date">September 15, 2020 at 3:12 pm </p>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form class="form-contact comment_form" action="#" id="commentForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                              placeholder="Write Comment"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
   
</section>
<!--================ Blog Area end =================-->
