
@{
    ViewBag.Title = "learningtocode_blog";
}

<div class="bradcam_area breadcam_bg overlay2" style=" background-image: url(../../Content/img/banner/bg_1.jpg)">
    <h3>what is learning to code</h3>
</div>
<!-- bradcam_area_end -->
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="~/Content/img/blog/single_blog_4.png" alt="">
                    </div>
                    <div class="blog_details">
                        <h2>
                            What is the simplest understanding of "what is learning to code" for tech-loving young people
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                        </ul>
                        <p class="excert">
                            When you say you want to be a programmer, do you really understand what learning to code is? Let's analyze and approach this term in the simplest way!.
                        </p>
                        <p>
                            Learning programming is learning a technology language such as Java, Android, PHP, C # ... Understand simply, you will write technology software in these languages.
                        </p>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                To be a programmer, you will have to speak, write, and read programming languages. To create a technology software, you must first have a design (framework), according to that design, you will type the coded code, the code can run, your product is born, not running. You will have to check from the beginning to find the error (fix the bug) until your product is complete. With the above description, you might have envisioned a part "what is learning to code?" Alright?
                            </div>
                        </div>
                        <p>
                            It doesn't take a genius or being at the top of your class to learn programming well. Programming is just the way you write a language, after all
                        </p>
                        <p>
                            Besides, because of the large amount of technology knowledge, if you want to be at the forefront of this field, you also need to have perseverance and constantly learn.
                        </p>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info">
                            <span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                            people like this
                        </p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="~/Content/img/post/preview.png" alt="">
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white ti-arrow-left"></span>
                                    </a>
                                </div>
                                <div class="detials">
                                    <p>Prev Post</p>
                                    <a href="#">
                                        <h4>Space The Final Frontier</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>Next Post</p>
                                    <a href="#">
                                        <h4>Telescopes 101</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#">
                                        <span class="lnr text-white ti-arrow-right"></span>
                                    </a>
                                </div>
                                <div class="thumb">
                                    <a href="#">
                                        <img class="img-fluid" src="~/Content/img/post/next.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="~/Content/img/comment/blog3.png" alt="">
                        <div class="media-body">
                            <a href="#">
                                <h4>Colin MacLeod</h4>
                            </a>
                            <p>should learn to code because according to Steve Job "Everybody in the world should learn to code because programming teaches us how to think"</p>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>05 Comments</h4>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="~/Content/img/comment/blog.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        Thinking, it is very easy no matter what field or profession you work in.
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Jason Padgett</a>
                                            </h5>
                                            <p class="date">September 15, 2020 at 3:12 pm </p>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="~/Content/img/comment/blog1.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        If you want to be at the forefront in this field, you also need perseverance and never stop learning.
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">David Robson</a>
                                            </h5>
                                            <p class="date">September 15, 2020 at 3:12 pm</p>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                    <img src="~/Content/img/comment/blog2.png" alt="">
                                </div>
                                <div class="desc">
                                    <p class="comment">
                                        To apply its dry theory into practice, it is important that you need an environment to be practiced regularly, turning theory by action.
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <h5>
                                                <a href="#">Sarah Keating</a>
                                            </h5>
                                            <p class="date">September 15, 2020 at 3:12 pm </p>
                                        </div>
                                        <div class="reply-btn">
                                            <a href="#" class="btn-reply text-uppercase">reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form class="form-contact comment_form" action="#" id="commentForm">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                              placeholder="Write Comment"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================ Blog Area end =================-->
