
@{
    ViewBag.Title = "Login";
}

<div class="bradcam_area breadcam_bg overlay2" style=" background-image: url(../../Content/img/banner/bg_1.jpg)">
    <h3>Login</h3>
</div>

<!-- bradcam_area_end -->
<!-- about_area_start -->
<div class="site-section from">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control form-control-lg">
                    </div>
                    <div class="col-md-12 form-group">
                        <label for="pword">Password</label>
                        <input type="text" id="pword" class="form-control form-control-lg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="submit" value="Log In" class="btn btn-primary btn-lg px-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

